.navbar{
    width:100%;
    height:100px;
    background-color:black;
    display:flex;
    flex-direction:row;
}

.navbar .leftside{
    flex:50%;
    height:100%;
    display:flex;
    align_items:center;
    padding-left:150px;
}

.navbar .rightside{
    flex:50%;
    height:100%;
    display:flex;
    align_items:center;
    padding-right:150px;
}

.navbar a{
    color:aliceblue;
    width:70px;

}